.movie-view {
	  margin: 0px 50px;
}
	
.movie-poster {
  width: 50%;
  margin: 20px auto;
}

.label-title {
  font-size: 40px;
}

.label-body {
  font-size: 16px;
}

.return-button {
  margin: auto;
  margin-bottom: 20px;
}
