@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.posters, .favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px;
}

.movie-info {
  margin-top: 50px;
  margin-left: 250px;
}

.movie-description {
  width: 75%;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 120%;
}

.genre, .director {
  width: 75%;
  margin-bottom: 10px;
  margin-left: 20px;
}

.genre-button, .director-button {
  color: #3d62c3;
}
